{% assign pubs = site.publications | sort: "date" | reverse %}
<div class="pub-list">
{% for post in pubs %}
  <div class="pub-list__item">
    <div class="pub-list__img">
      {% if post.header.teaser %}
        <img src="{{ post.header.teaser | relative_url }}" alt="{{ post.title | escape }}">
      {% else %}
        <img src="{{ '/images/500x300.png' | relative_url }}" alt="{{ post.title | escape }}">
      {% endif %}
    </div>
    <div class="pub-list__meta">
      <div class="pub-list__title">{{ post.title }}</div>
      {% if post.authors %}<div class="pub-list__authors">{{ post.authors }}</div>{% endif %}
      <div class="pub-list__venue"><i>{{ post.venue }}</i>, {{ post.date | date: "%Y" }}</div>
      {% if post.paperurl %}
      <div class="pub-list__links"><a href="{{ post.paperurl }}">paper</a></div>
      {% endif %}
    </div>
  </div>
{% endfor %}
</div>
